<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="card mb-5 text-center">
        <img src="" alt="" class="card-img-top thumbnail">
        <div class="card-body">
            <div><h6 class="card-title"></h6></div>
            <p class="card-text"></p>
            <a href="" class="btn btn-sm btn-outline-dark">التفاصيل</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 col-md-6 col-xs-11">
        <div id="carouselIndicators" class="carousel slid">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="" alt="">
                </div>
            </div>

            <div class="carousel-indicators">
                <img class="img-thumbnail" src="" alt="" data-target="carousel-indicators" data-slide-to="">
            </div>
        </div>
    </div>
    <div class="col-lg-7 col-md-6 col-xs-11">
        <div class="card">
            <div class="card-body">
                <h4></h4>
                <p class="card-text"></p>
                <p class="card-text"></p>
                <p class="card-text"></p>
                <h4></h4>
                <p class="card-text"></p>
            </div>
        </div>
    </div>
</div>

